*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
    transition: all .5s;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 2px solid white;
    border-radius: 35px;
    transition: all .5s
    
}

.main-nav li a:hover
{
    border: 2px solid white;
    border-radius: 35px;
    transition: all .5s
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    
}

.title
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}


h1
{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    text-align: left;
    margin-top: 50px;
    text-decoration: underline 
    
}
h2
{
    color: white;
    text-transform: capitalize;
    font-size: 40px;
    text-align: left;
    margin-top: 105px;
    
}
p
{
    color: white;
    text-transform: capitalize;
    font-size: 25px;
    text-align: left;
    margin-top: 25px;
    
}
h3
{
    color: white;
    text-transform: capitalize;
    font-size: 40px;
    text-align: left;
    margin-top: 25px;
    
}
h4
{
    color: white;
    text-transform: capitalize;
    font-size: 40px;
    text-align: left;
    margin-top: 25px;
    
}

body
{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(website.jpg);
    height: auto;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


.logo img
{
    width: 150px;
    height: auto;
}

.copywrite {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
    
    
}

.connect4 {
    text-decoration: none;
    
}

.connect4 li a {
    color: white;
    float: left;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 20;
    text-decoration: none;
    padding: 10px;

 
}

.connect4 li a:hover {
    border: 2px solid white;
    border-radius: 35px;
    transition: all .5s
}

.connect4 li.active a
{
    border: 2px solid white;
    border-radius: 35px;
    transition: all .5s
    
}

.connect {
   margin-top: 280; 
   height: 50%;
   width: 40%;
}

.ttt {
    margin-top: 80;
    margin-left: -185;
    height: 50%;
    width: 40%;
}

.Tic {
    text-decoration: none;
    
}

.Tic li a {
    color: white;
    float: left;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 20;
    text-decoration: none;
    padding: 10px;
 
}

.Tic li a:hover {
    border: 2px solid white;
    border-radius: 35px;
    transition: all .5s;
    padding: 10px;

}

.Tic li.active a
{
    border: 2px solid white;
    border-radius: 35px;
    transition: all .5s;
    padding: 10px;

    
}

.click {
    margin-top: 100;
    margin-left: -180;
    height: 40%;
    width: 30%;
}

.click1 {
    text-decoration: none;
    
}

.click1 li a {
    color: white;
    float: left;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 20;
    text-decoration: none;
    padding: 10px;
 
}

.click1 li a:hover {
    border: 2px solid white;
    border-radius: 35px;
    transition: all .5s;
    padding: 10px;

}

.click1 li.active a
{
    border: 2px solid white;
    border-radius: 35px;
    transition: all .5s;
    padding: 10px;

    
}

.projects {

    transform: rotate(90deg);
    margin-left: 700px;
    margin-top: -1500px;
    font-size: 50
    

}

h6 {
    color: white;
    text-transform: capitalize;
    font-size: 300px;
    text-align: left;
    margin-top: 25px;
}









