*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
    
    transition: all .5s;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 2px solid white;
    border-radius: 35px;
    transition: all .5s
    
}

.main-nav li a:hover
{
    border: 2px solid white;
    border-radius: 35px;
    transition: all .5s
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    
}

.title
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}

.body 
{
    margin-left: 0px;
    margin-top: 120px;
    width: 1200px;
    
    

}


h1
{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    text-align: left;
    margin-top: 50px;
    text-decoration: underline 
    
}
h2
{
    color: white;
    text-transform: capitalize;
    font-size: 40px;
    text-align: left;
    margin-top: 25px;
    
}
p
{
    color: white;
    font-size: 25px;
    text-align: left;
    margin-top: 25px;
    
}
h3
{
    color: white;
    text-transform: capitalize;
    font-size: 40px;
    text-align: left;
    margin-top: 25px;
    
}
h4
{
    color: white;
    text-transform: capitalize;
    font-size: 40px;
    text-align: left;
    margin-top: 25px;
    
}

body
{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(website.jpg);
    height: auto;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    
}


.logo img
{
    width: 150px;
    height: auto;
}


.pics1
{
    height: 7%;
    width: 4%;
    margin-bottom: 100px;
    margin-left: 230px;
    position: relative; 
    z-index: 100;
   
}

.pics2
{
    height: 9%;
    width: 5%;
    margin-top: -450px;
    margin-left: 370px;
    position: relative; 
    z-index: 100;
   
}

.pics3
{
    height: 60%;
    width: 25%;
    margin-top: -370px;
    margin-left: 750px;
    position: relative; 
    z-index: 100;
    border: 8px;
    border-color: white;
    border-style: ridge;
   
}



ol {
    
    margin-top: 50px;
    margin-left: 290px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    border: 2px solid white;
    padding: 20px;
    list-style-type: none;
    border-radius: 35px;
    overflow: hidden;
    width: 210px;
    

}

ol:before{
    content:"";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: white;
    transition: .5s ease-in-out;
    border-radius: 35px;



}

ol:hover:before{
    left: 0;
    z-index: -1;

}
span{
    color: #fff;
    transition: .5s ease-in-out;
    z-index: -1;

    
}
ol:hover span{
    color: #262626;

}


.copywrite {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 35px;
    
    
}






