*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid white;
    
}

.main-nav li a:hover
{
    border: 1px solid white;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.title
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}


h1
{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    text-align: left;
    margin-top: 50px;
    text-decoration: underline 
    
}
h2
{
    color: white;
    text-transform: capitalize;
    font-size: 40px;
    text-align: left;
    margin-top: 25px;
    
}
p
{
    color: white;
    text-transform: capitalize;
    font-size: 25px;
    text-align: left;
    margin-top: 25px;
    
}
h3
{
    color: white;
    text-transform: capitalize;
    font-size: 40px;
    text-align: left;
    margin-top: 25px;
    
}
h4
{
    color: white;
    text-transform: capitalize;
    font-size: 40px;
    text-align: left;
    margin-top: 25px;
    
}

body
{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(website.jpg);
    height: auto;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    
}
.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one
{
    background-color: darkorange;
    font-family: "Roboto", sans-serif;
}

.btn-two
{
    font-family: "Roboto", sans-serif;
}


.btn-two:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
    
        
}

.logo img
{
    width: 150px;
    height: auto;
}












