*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
    transition: all .5s;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 2px solid white;
    border-radius: 35px;
    transition: all .5s
    
}

.main-nav li a:hover
{
    border: 2px solid white;
    border-radius: 35px;
    transition: all .5s
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    
}

.title
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}


h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    
    
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(website.jpg);
    height: 100vh;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.logo img
{
    width: 150px;
    height: auto;
}

.copywrite {
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 650px;
    
    
}












